body, html, #app {
    margin: 0;
    padding:0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
      
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size:100.01%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .row {
    display: flex;
    flex-wrap:wrap;
  }

  ul {
    padding: 0;
    margin:0;
  }

  li {
    list-style:none;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .space-around {
    justify-content: space-around
  }

  .teal {
    color: #2A8A9D
  }

  .brown {
    color: #BFAD7F;
  }

  .grey {
    color: #606060;
  }

  .text-center {
    text-align: center;
  }

  .container {
      width:100%;
      height:100vh;
      margin: 0 auto;
      background-image: url('./images/medical-563427_1920.jpg');
      background-size:     cover;                 
      background-repeat:   no-repeat;
      background-position: center center;
  }

  /********************** NAV BAR **********************/

  .nav-bar {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    height: 4.5em;
    padding: 1vh 4%;
    align-items:center;
  }

 .nav-logo {
     width:auto;
     max-height: 4.5em;
 }

 .nav-btn {
    border: none;
    background: transparent;
    height:5em;
    width:7em;
    font-size:1rem;
    border-top: 1px solid rgba(191, 173, 127, 1);
    margin: auto 5px;
    font-weight:700
 }

 .nav-btn.active, .nav-btn:hover {
    border-top: 3px solid rgba(42, 138, 157, 1);
    color: #2A8A9D;
 }

 .nav-mobile {
     display:none;
 }

/********************** SERVICES **********************/
.service-wrapper{
  width:90%;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
}

.serv-img {
  height:1000em;
}

.ul.grid li img {
  height:100rem;
  width:100rem;
}

/********************** SPECIAL **********************/

.special-wrapper{
  width:90%;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
}

 /* MEDIA QUERIES */

 @media (max-width: 670px) {
  .nav-desktop {
      display: none;
  }
  .nav-mobile {
      display:block;
  }
}
 @media (max-width: 1050px) {
     .nav-btn {
      font-size: 80%;
    }   
  }
@media (max-width: 875px) {
    .nav-btn {
     font-size: 65%;
   }   
 }
 @media (max-width: 770px) {
  .nav-btn {
   font-size: 50%;
 }   
}