body, html, #app {
    margin: 0;
    padding:0;
    margin: 0;
    height: 100vh;
    width: 100%;
    box-sizing:border-box;
    font-size:16px;
    background-color:#F0F0F0;
      
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size:100.01%;
  }

  html {
    overflow: scroll;
    overflow-x: hidden;
  }
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

  *:focus {
  outline: 0;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .row {
    display: flex;
    flex-wrap:wrap;
  }

  ul {
    padding: 0;
    margin:0;
  }

  li {
    list-style:none;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex:1;
  }

  .space-around {
    justify-content: space-around
  }

  .teal {
    color: #2A8A9D
  }

  .brown {
    color: #BFAD7F;
  }

  .grey {
    color: #606060;
  }

  .text-center {
    text-align: center;
  }

  /********************** #NAV BAR **********************/

  .nav-bar {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    height: 4.5em;
    padding: 1vh 4%;
    align-items:center;
    -webkit-box-shadow: 20px 20px 20px grey;
    -moz-box-shadow:    10px 20px 20px grey;
    box-shadow:         2px 2px 2px grey;
    z-index:999;
  }

 .nav-logo {
     width:auto;
     max-height: 4.5em;
 }

 .nav-btn {
    border: none;
    background: transparent;
    height:5em;
    width:7em;
    font-size:1rem;
    border-top: 1px solid rgba(191, 173, 127, 1);
    margin: auto 5px;
    font-weight:700;
    padding-top: 1rem;
 }

 .nav-btn.active, .nav-btn:hover {
    border-top: 3px solid rgba(42, 138, 157, 1);
    color: #2A8A9D;
    cursor: pointer;
 }

 .nav-mobile {
     display:none;
 }

 /* Nav Media Queries*/
 @media (max-width: 670px) {
  .nav-desktop {
      display: none;
  }
  .nav-mobile {
      display:block;
  }
}
 @media (max-width: 1050px) {
     .nav-btn {
      font-size: 80%;
    }   
  }
@media (max-width: 875px) {
    .nav-btn {
     font-size: 65%;
   }   
 }
 @media (max-width: 770px) {
  .nav-btn {
   font-size: 50%;
 }   
}


 /********************* #LANDING PAGE ********************/

 .landing-wrapper {
  height:100%;
  width:100%;
  align-items:center;
  justify-content: center;
  text-align:center;
  display:flex;
 }

 .landing-grid {
   width:90%;
   margin-top:5em;
   margin-bottom:3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 35vh 35vh;
  min-width:500px;
  text-align:center;
  overflow:hidden;
  color:white;
  grid-template-areas: 
    "main-panel main-panel panel1 panel2"
    "main-panel main-panel panel3 panel4";
}

.landing-grid svg{
  width:100%;
  margin: 15px 0;
}

.landing-grid svg{
  width:100%
  }

.landing-grid div {
  align-items:center;
  justify-content:center;
  display: flex;
  flex-wrap:wrap;
}

.main-panel {
  grid-area: main-panel;
  background-image: url('./images/medical-563427_1920.jpg');
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center center;
}

.panel1 {
  grid-area: panel1;
  background-color:#066071;
}

.panel2 {
  grid-area: panel2;
  background-color:#0C8096;
}

.panel3 {
  grid-area: panel3;
  background-color:#48A3B4;
}

.panel4 {
  grid-area: panel4;
  background-color:#75C1CF;
}

/* Landing Page Media Queries */

@media (max-width: 850px) {
  .landing-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22vh 22vh 20vh 20vh;
    grid-template-areas: 
    "main-panel main-panel"
    "main-panel main-panel"
    "panel1 panel2"
    "panel3 panel4";
 }   
}

/********************** #Intro **********************/
.intro-wrapper {
  max-width:100rem;
  text-align: center;
  display:flex;
  margin: 0 auto;
  margin-top:0.1em;
  height:100%;
}

.intro-img {
  flex:5;
  background-image: url('./images/Yeonshik.png');
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center center;
  height:50em;
}

.intro-text {
  flex:5;
  justify-content: center;
  background-color: #2A8A9D;
  color:white;
  display:flex;
}

.intro-text h1 {
 text-align:center;
 margin-bottom:4rem;
}

.intro-text p {
 text-align:left;
}

.intro-text-inner {
  width:50%;
  margin: auto;
}

/********************** #CARD (Special/Service) **********************/

.card-wrapper{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  align-content:center;
  flex-direction:row;
  justify-content:center;
  margin: 0 5em;
}

.card {
  width:12em;
  height:20em;
  display:flex;
  min-width: 7em;
  flex: 0 0 20%;
  flex-direction:column;
  align-items:center;
  text-align:center;
  justify-items:space-between;
  margin: 1rem;
  box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2)
}

.card-header {
  font-size:46px;
  font-weight:700;
  font-family: nanumgothic-regular,sans-serif;
  width:100%;
  padding-top:0.5em;
  padding-bottom:0.5em;
  text-align:center;
}

.card img {
  height:7em;
  width:7em;
  padding-top:3em;
  padding-bottom:3em;
}

.detail-box{
  display:flex;
  width:100%;
  align-items:center;
}

.detail-box:nth-child(odd) {
  background-color:white;
}

.detail-box:nth-child(even) {
  background-color:#F0F0F0;
}

.icon-box {
  flex:2;
  display:flex;
  justify-content: center;
}

.icon-box img {
  height:7em;
  width:7em;
}

.descrip-box {
flex:8;
}

.detail-box:nth-child(odd) .descrip-box{
  margin-right:20%;
  text-align:left;
}

.detail-box:nth-child(even) .descrip-box{
  margin-left:15%;
  text-align:right;
}

.icon-box img {
  margin:3em;
}

  /* Card Media Queries */

  @media (max-width: 670px) {
    .card {
      flex: 0 0 40%;
    }
    .card {
      font-size:600px;
    }
}

@media (max-width: 1000px) {
  .card-wrapper {
    margin: 0 2em;
  }
  .card {
    font-size:80%;
  }
}

@media (max-width: 800px) {
  .card-wrapper {
    margin: 0 1em;
  }
  .card {
    font-size:60%;
  }
}

/********************** #MAP **********************/

.map-wrapper{
display:flex;
width:100%;
}

.info-box{
color:white;
background-color: #2A8A9D;
flex:3;
display:flex;
flex-direction:column;
}

.info-box div {
  flex:1;
  padding:0 5em;
}

.map-box{
  flex:7;
}

.map-box img {
  height:auto;
  width:100%;
}

/********************** #GALLERY **********************/

.gallery-wrapper {
  height:100%;
  margin:auto;
  display:flex;
  margin-top:3em;
}

.gallery-grid img {
  width:100%;
  height:100%;
}

.text-overlay {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1; 
  width: 100%;
  text-align:left;
  transition: .5s ease;
  opacity:0;
  font-size: 1.5rem;
}

.text-overlay p {
 margin-left:2rem;
}

.gallery-grid li:hover .text-overlay {
  opacity: 1;
}

.gallery-grid {
  display:grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: auto;
  grid-gap:0.5em;
  margin: 0 25%;
  grid-template-areas:
    'img-5 img-5 img-5 img-5'
    'img-6 img-6 img-6 img-6'
    'img-3 img-3 img-3 img-3'
    'img-7 img-7 img-7 img-9'
    'img-8 img-12 img-1 img-2'
    'img-15 img-15 img-15 img-14'
    'img-13 img-13 img-13 img-13'
    'img-11 img-11 img-11 img-11'
    'img-10 img-10 img-4 img-4';
}

.img-1 {
 grid-area: img-1; 
 position:relative; 
}

.img-2 {
  grid-area: img-2; 
  position:relative; 
 }
 
 .img-3 {
  grid-area: img-3; 
  position:relative; 
 }

 .img-4 {
  grid-area: img-4; 
  position:relative; 
 }

 .img-5 {
  grid-area: img-5;
  position:relative; 
 }

 .img-6 {
  grid-area: img-6; 
  position:relative; 
 }

 .img-7 {
  grid-area: img-7; 
  position:relative; 
 }

 .img-8 {
  grid-area: img-8; 
  position:relative; 
 }

 .img-9 {
  grid-area: img-9; 
  position:relative; 
 }

 .img-10 {
  grid-area: img-10; 
  position:relative; 
 }

 .img-11 {
  grid-area: img-11; 
  position:relative; 
 }

 .img-12 {
  grid-area: img-12; 
  position:relative; 
 }

 .img-13 {
  grid-area: img-13; 
  position:relative; 
 }

 .img-14 {
  grid-area: img-14; 
  position:relative; 
 }

 .img-15 {
  grid-area: img-15; 
  position:relative; 
 }

/* Gallery Media Query */

 @media (max-width: 670px) {
  .gallery-grid {
      margin: 0 10%;
  }
 }

/********************** #FOOTER **********************/

.footer-wrapper {
  bottom: 0;
  display: flex;
  background:#066071;
  flex-wrap:wrap;
  padding:1rem;
  color:white;
  justify-content:center;
}