body, html, #app {
    margin: 0;
    padding:0;
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing:border-box;
    font-size:16px;
    background-color:#F0F0F0;
      
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html {
    font-size:100.01%;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  .row {
    display: flex;
    flex-wrap:wrap;
  }

  ul {
    padding: 0;
    margin:0;
  }

  li {
    list-style:none;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex:1;
  }

  .space-around {
    justify-content: space-around
  }

  .teal {
    color: #2A8A9D
  }

  .brown {
    color: #BFAD7F;
  }

  .grey {
    color: #606060;
  }

  .text-center {
    text-align: center;
  }

  .card-wrapper{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    align-content:center;
    flex-direction:row;
    justify-content:center;
    margin: 0 5em;
  }

  .card {
    width:15em;
    height:20em;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    justify-items:center;
    margin: 1rem;
    box-shadow: .5rem .5rem 3rem rgba(0,0,0,0.2)
  }

  .card img {
    height:7em;
    width:7em;
    padding-top:1em;
    padding-bottom:4em;
  }

  /********************** NAV BAR **********************/

  .nav-bar {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    height: 4.5em;
    padding: 1vh 4%;
    align-items:center;
  }

 .nav-logo {
     width:auto;
     max-height: 4.5em;
 }

 .nav-btn {
    border: none;
    background: transparent;
    height:5em;
    width:7em;
    font-size:1rem;
    border-top: 1px solid rgba(191, 173, 127, 1);
    margin: auto 5px;
    font-weight:700
 }

 .nav-btn.active, .nav-btn:hover {
    border-top: 3px solid rgba(42, 138, 157, 1);
    color: #2A8A9D;
 }

 .nav-mobile {
     display:none;
 }

 /* Nav Media Queries*/
 @media (max-width: 670px) {
  .nav-desktop {
      display: none;
  }
  .nav-mobile {
      display:block;
  }
}
 @media (max-width: 1050px) {
     .nav-btn {
      font-size: 80%;
    }   
  }
@media (max-width: 875px) {
    .nav-btn {
     font-size: 65%;
   }   
 }
 @media (max-width: 770px) {
  .nav-btn {
   font-size: 50%;
 }   
}


 /********************* LANDING PAGE ********************/

 .landing-wrapper {
  height:100%;
  width:100%;
 }

 .landing-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 35vh 35vh;
  min-width:500px;
  text-align:center;
  overflow:hidden;
  color:white;
  grid-template-areas: 
    "main-panel main-panel panel1 panel2"
    "main-panel main-panel panel3 panel4";
}

.landing-grid svg{
  width:100%;
  margin: 15px 0;
}

.landing-grid svg{
  width:100%
  }

.landing-grid div {
  align-items:center;
  justify-content:center;
  display: flex;
  flex-wrap:wrap;
}

.main-panel {
  grid-area: main-panel;
  background-image: url('./images/medical-563427_1920.jpg');
  background-size:     cover;                 
  background-repeat:   no-repeat;
  background-position: center center;
}

.panel1 {
  grid-area: panel1;
  background-color:#066071;
}

.panel2 {
  grid-area: panel2;
  background-color:#0C8096;
}

.panel3 {
  grid-area: panel3;
  background-color:#48A3B4;
}

.panel4 {
  grid-area: panel4;
  background-color:#75C1CF;
}

/* Landing Page Media Queries */

@media (max-width: 850px) {
  .landing-grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 22vh 22vh 20vh 20vh;
    grid-template-areas: 
    "main-panel main-panel"
    "main-panel main-panel"
    "panel1 panel2"
    "panel3 panel4";
 }   
}

/********************** SERVICES **********************/
.service-wrapper{
  height:100%;
  text-align: center;
  display: flex;
  flex-wrap:wrap;
  padding: 0 15em;
  justify-content:center;
}

.service-header {
  font-size:46px;
  font-weight:700;
  font-family: nanumgothic-regular,sans-serif;
  width:100%;
  padding-top:0.5em;
  padding-bottom:1em;
  text-align:center;
}

.service-wrapper div {
  margin:1em;
  padding:1em;
  height:260px;
  width:220px;
  background-color:white;
}

.service-wrapper img {
height:115px;
width:115px;
}

.service-wrapper h2 {
  margin-bottom:70px;
  }

/********************** SPECIAL **********************/

.service-wrapper{
  height:100%;
  width:100%;
  max-width:100%;
  text-align: center;
  padding: 0 15em;
}

.special-grid{
  width:70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-template-rows: 400px, 400px;
  grid-gap:1rem;
  text-align: center;
  max-width:1300px;
}

.special-grid div {
  background-color:white;
}

.special-header {
  font-size:46px;
  font-weight:700;
  font-family: nanumgothic-regular,sans-serif;
  width:100%;
  padding-top:0.5em;
  padding-bottom:1em;
  text-align: center;
}

.special-wrapper img {
  height:115px;
  width:115px;
  }

  /* Special Media Queries */

  @media (max-width: 670px) {
    .special-grid {
      width:90%;
      grid-template-columns: repeat(2, minmax(100px, 1fr));
    }
    .special-header {
      font-size:26px;
  }
}